<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->

<!-- Template : aproposTemplate.hbs -->

<div class="w3-container">
    <h3 class="w3-text-teal">À propos de {{ app_name }}</h3>

    <p>Cette application Web permet de s'exercer en orthographe de manière autonome en proposant des exercices variés : dictées, réécritures...</p>
    <p>C'est un <a href="#!licence/1" class="w3-text-teal" style="text-decoration: none">logiciel libre</a> réalisé grâce aux modules ou outils suivants :</p>

    <ul style="list-style: none">
	    {{#each module}}
	    <li><a class="w3-text-teal" style="text-decoration: none" href="{{module.site}}" target="_blank">{{this.appname}}</a> de {{this.auteur}}. Licence {{this.licence}}. <a href="{{this.code}}" target="_blank" class="w3-text-teal" style="text-decoration: none"><i class="fa fa-link"></i> Code source</a></li>
	    {{/each}}
    </ul>

    <h3>Crédit photo</h3>
    <p>Le dessin de l'encrier en page d'accueil est l'œuvre de Rawpixel : <a class="w3-text-teal" style="text-decoration: none" target="_blank" href="http://www.freepik.com">designed by rawpixel.com / Freepik</a></p>
</div>

