<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
 
 <!-- Template : ecouterTemplate.hbs -->


<div class="w3-container">
    <audio controls="controls">
      <!-- Partial : source audio -->
      {{#each sources}}
      {{> sourceaudio format=this.format cid=../did}}
      {{/each}}
      <p>Erreur de chargement du fichier audio...</p>
    </audio>
</div>

{{#if mots}}
<div class="w3-container">
<div class="w3-card">
<header class="w3-container analogue">
<h4>Mots ou expressions
<button id="bouton_montrer_panneau_mots" 
onclick="$('#panneau_mots').show();$(this).hide()" 
class="w3-button w3-right w3-xlarge" 
style="display: none">
<i class="icon-voir"></i></button>
</h4>
</header>
<div id="panneau_mots" class="w3-container w3-light-grey">
<p class="w3-center">
<button 
onclick="$('#panneau_mots').hide();$('#bouton_montrer_panneau_mots').show()" 
class="w3-button w3-left">
<i class="icon-fermer"></i></button>
{{mots}}</p>
</div>
</div>
</div>
{{/if}}

{{#if (cetteDicteeEstAmenagee exercice)}}
<div class="w3-padding-24">
<div class="w3-bar w3-light-grey w3-border">
<span id="autres_boutons">
{{#each rubs}}
  <button class="w3-bar-item w3-button tablink 
  {{#if @first}}
  triadic
  {{/if}}
  {{#if @last}}
  w3-hide-small
  {{/if}}
  " onclick="afficheRubrique(event, '{{lien}}')">{{legende}} 
  </button>
{{/each}}
</span>
<button class="w3-button w3-hide-medium w3-hide-large w3-bar-item w3-right"
onclick="$('#bouton_choix').toggle();$('#autres_boutons').toggle()">
<i class="icon-actions"></i>
</button>
<span id="bouton_choix" style="display: none">
<button class="w3-button w3-bar-item" onclick="afficheRubrique(event, 'choix')">Propositions</button>
</span>
</div>
{{/if}}

<div id="conseils" 
{{#if (cetteDicteeEstAmenagee exercice)}}
class="rubrique"
{{/if}}
>
<div class="w3-container">
    <h3 class="w3-padding w3-round analogue">Conseils</h3>
	<ul class="w3-ul">
		<li>D'abord, écoutez une première fois la dictée, 
		sans chercher à l'écrire. Efforcez-vous d'en saisir le sens.
		</li>
		<li>
		{{#if (cetteDicteeEstAmenagee exercice)}}
		    Puis affichez le texte aménagé 
            et notez vos choix au brouillon avec méthode : <br>
            <ol><li>Mon choix 1 : ...</li><li>Etc</li></ol>
        {{else}}
			Puis écoutez-la de nouveau, en la notant sur votre 
			cahier de brouillon. 
        {{/if}}
			Au besoin, mettez en pause le 
			lecteur audio.
		</li>
		<li>
			Relisez-vous en écoutant une dernière fois la dictée.
		</li>
	</ul>
</div>
</div>

{{#if (cetteDicteeEstAmenagee exercice)}}
<div id="texte" class="rubrique"
style="display: none">
<div class="w3-container">
    <h3 class="texte-fonce">Texte aménagé</h3>
    <p style="max-width: 500px">
    {{{afficheLesEtiquettes fourni lacunes}}}
    </p>
</div>
</div>

<div id="choix" class="rubrique"
style="display: none">
<div class="w3-container">
    <h3 class="texte-fonce">Propositions</h3>
    <ul class="w3-ul">
      {{#each lacunes as |lacune|}}
      <li>{{indexPlusUn @index}}) {{lacune}}</li>
      {{/each}}
    </ul>
</div>
</div>
{{/if}}
